@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,300;1,500&display=swap');


/* to change the font colors go to nav-effects.css */

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: seagreen;
    font-size: 16px;
    text-decoration: none;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100vw;
    height: 6rem;
    background: linear-gradient(0deg, #090e17 0%, #0b0318 100%);
}

.logo {
        cursor: pointer;
    }

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 2-px;
}

.nav__links li a {
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

.button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(0,136,169,0.6);
}


  .logo {
    /* This helps center and align in middle of the box */
    display: flex;
    justify-content: left;
    padding: 10px;
    align-items: center;
  }
  
  .links-top {
    display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // text-align: center;
    // justify-content: center;
    // grid-row: 2 / 3;
    // grid-column: 2 / 3;
  
    border: 1px solid black;
    /* color: bisque; */
    /* background-color: #d7c892; */
    background-color: #202244;
  }
  
  .nav__links a {  
    text-decoration: none;
  }
  
// Side bar element

.sidebar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: var(--bg-secondary);
    transition: 200ms ease;
}

.sidebar-nav {
    list-style: none;
    padding: 50px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--light);
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-item {
    min-width: 2rem;
    margin: 0 1.5rem;
}

// this will make the nav bar slide outwards
.sidebar:hover {
    width: 16rem;
}

.sidebar:hover .link-text {
    display: block;
}
