<%# Renders out the partial _form %>
<%= render 'shared/navbar' %>

<% if flash[:success] %>
<p><%= flash[:success] %></p>
<% end %>

<div class="user-edit">
<h1> Edit your profile page <h1>

<%# Renders out the partial _form %>
<%= render 'form' %>

<%= link_to 'Back', user_path(@user) %>

</div>