@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,300;1,500&display=swap');

:root {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    --primary: #dddddd;
    --dark: #333333;
    --light: #ffffff;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.9);
}

body {
    color: black;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

// This allows the full page as previously these notice and alert were sitting at the top
.notice {
    margin: 0;
    padding: 0;
    display:none;
}

.alert {
    padding: 0;
    margin: 0;
    display: none;
}