// /* parent */
// .container-email {
//     /* display: grid; */
//     display: flex;
//     flex-flow: row wrap;
//     align-items: center;
//     justify-content: space-evenly;
//     padding: 0;
//     margin: 0;
//     list-style: none;
  
//     height: 100px;
//     width: 500px;
//     /* background: #3b96ca; */
//     background-image: url(/images/contact-img-bw.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//     pointer-events: none;
//     /* grid-template-rows: 1fr;
//     grid-template-columns: 1fr 1fr; */
//   }
  
.form-band {
    display: flex;
    border: 5px solid #ee3e80;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 45px black;
}

.form-band form label {
    font-size: 1rem;
}

.form-info {
    font-size: 5;
}
