// // Place all the styles related to the Welcome controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: https://sass-lang.com/

.image-container {
    // display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .dino-hero {
//     // display: flex;
//     background-image: url("Dino.png");
//     height: 800px;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.hero-image{
    width: 100vw;
    background-image: url("drumstick.png");
    background-size: cover;
    // height: 250px;
}


// body {
//     // background-image: url("Dino.png");
//     color: var(--light);
//     font-family: "Montserrat", sans-serif;
//     font-weight: 500;
//     background: var(--dark);
// }

.welcome {
    // sets the main page across - will make it go down -so margin top
    // margin-left: 16rem; 
    // padding: 1rem;
    display: flex;
    // flex-direction: column;
    width: 100vw;
    background-color: #263d04;
    padding: 0px 100px;
    // height: 600px;
    justify-content: flex-start;
}

.greeting {
    order: 1;
    flex-grow: 3;
}

.greeting h1 {
    color: #eed99e;
}

.dio-image {
    order: 2;
    align-items: flex-start;
    align-self: flex-start;
    height: 100%;
    width: auto;
}


.sign-up-button form input {
    height: 50px;
    width: 200px;
    border: 1px solid #16a136;
    background-color: #16a136;
    font-size: 30px;
    color: black;
    border-radius: 50px;
}

.sign-up-button form input:hover {
    background-color: #96a941;
}