<h1>GIGASAURS <%= link_to 'GIGS', gigs_path  %> <%= link_to 'BANDS', bands_path  %> <%= link_to 'USERS', users_path  %></h1>
<p>_________________________________________________________________________________________________</p>