<%= render 'shared/navbar' %>


<div class="band-index">
<h1>BANDS</h1>

<div class="search">
Be good to have the full list and a search list here. 
Should add later the local of the band, and the venues that they have played at
</div>

<% @bands.each do |band| %>
<p><%= link_to band.name, band_path(band) %></p>
<% end %>

<%# A user should create a user first then a band %>
<%# <h2>ADD A NEW BAND</h2>
<%= link_to 'Add A Band', new_band_path  %>
</div>